{% extends 'main.html' %}
{% load static %}
{% block content %}

    <main class="update-account layout">
        <div class="container">
            <div class="layout__body">
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    {% for field in user_form %}
                        <div class="form__group">
                            <label for="profile_pic">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form__action">
                        <a class="btn btn--dark" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                        <button class="btn btn--main" type="submit" name="user_form_submit">Update</button>
                    </div>
                </form>
            </div>

            <div class="layout__body">
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    {% for field in user_details_form %}
                        <div class="form__group">
                            <label for="profile_pic">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form__action">
                        <a class="btn btn--dark" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                        <button class="btn btn--main" type="submit" name="user_details_form_submit">Update</button>
                    </div>
                </form>
            </div>

        </div>
        </div>
    </main>
{% endblock content %}

<script src="{% static 'js/script.js' %}"></script>